/* Hide remove button from level interactive paragraph */
.node-level-interactive-content-form .paragraph-type-top,
.node-level-interactive-content-edit-form .paragraph-type-top {
  display: none !important;
}
.role-el_regional_market_admin.path-node ul.tabs.primary li.tabs__tab:nth-child(2) {
  display: none;
}
.role-comment_moderator h1.page-title {
    margin-left: -218px;
    margin-top: 40px;
}
